<h1>Below are <%= @team.name %>'s players</h1>
<%= form_tag add_players_path do %>
<% @players.each do |player| %>
  <%= image_tag player.image, :class =>'thumb' if player.image.present? %>
    <%= link_to player.name, player_path(player.id) %>
    Price: <%= player.price %>
    <%= check_box_tag("player_ids[]", player.id) %>
  <% end %>
  <%= submit_tag 'Choose Players' %>
<% end %>
