<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Premier League</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container text-center'> <!-- Bootstrap. -->
      <nav>
        <ul class="nav nav-pills nav-justified">
            <% if @current_user.present? %><!-- Making sure that the user is present. If user is admin then can update player scores. -->
            <% if @current_user.admin? %>
              <li class="nav-item ">
              <%= link_to "Update Player Scores", '/users', :class => 'nav-link ' %>
              </li>
            <% end  %>
            <li class="nav-item">
                <%= link_to 'Home', root_path, :class=> "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Tables and Upcoming Games', '/results', :class=> "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Standings', standings_path, :class=> "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'My Players', my_players_path, :class=> "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Available Players', players_path, :class=> "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Log out', login_path, :method => 'delete', :class=> "nav-link" %>
            </li>
            <% else %> <!-- Below is the links available for the people who are not logged in -->
            <li class="nav-item">
                <%= link_to 'Home', root_path, :class=> "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Sign Up', new_user_path, :class=> "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Log In', login_path, :class=> "nav-link" %>
            </li>
            <% end %>
        </ul>
      </nav>
      <% flash.each do |type, msg| %> <!-- Error flash messages from bootstrap for player choices.  -->
        <div>
          <%= msg %>
        </div>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
