<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Premier League</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container text-center'>

    <nav>
      <ul class="nav nav-pills nav-justified">
          <% if @current_user.present? %>
          <% if @current_user.admin? %>
            <li class="nav-item ">
            <%= link_to "All Users", '/users', :class => 'nav-link ' %>
            </li>
          <% end  %>
          <li class="nav-item">
              <%= link_to 'Home', root_path, :class=> "nav-link" %>
          </li>
          <li class="nav-item">
              <%= link_to 'View EPL Table and News', '/results', :class=> "nav-link" %>
          </li>
          <li class="nav-item">
              <%= link_to 'Standings', standings_path, :class=> "nav-link" %>
          </li>
          <li class="nav-item">
              <%= link_to 'My Players', my_players_path, :class=> "nav-link" %>
          </li>
          <li class="nav-item">
              <%= link_to 'Available Players', players_path, :class=> "nav-link" %>
          </li>
          <li class="nav-item">
              <%= link_to 'Log out', login_path, :method => 'delete', :class=> "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
              <%= link_to 'Sign Up', new_user_path, :class=> "nav-link" %>
          </li>
          <li class="nav-item">
              <%= link_to 'Log In', login_path, :class=> "nav-link" %>
          </li>
          <% end %>
      </ul>
    </nav>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
